<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="易石后台管理" name="description"/>
    <title>主页</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
    <link href="../css/BootSideMenu.css" rel="stylesheet" type="text/css">
    <link href="../css/myLeftNav.css" rel="stylesheet" type="text/css">
    <link href="../css/default.css" rel="stylesheet" type="text/css">
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="../css/pace-theme-barber-shop.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- 顶部导航 -->
<header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle show pull-left" data-target="collapse_customer">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../img/yumLogo.png"></a>
            </div>
            <!-- 右侧 -->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="javascript:;">河南易石</a></li>
                    <li><a href="javascript:;">SVN</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="glyphicon glyphicon-user"></i> 张三 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">查看权限</a></li>
                            <li class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;"><i class="glyphicon glyphicon-log-out"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- 导航以下 -->

<div class="container-fluid all">

    <div class="sidebar-left-nav collapse_customer">
        <ul class="nav">
            <li class="active"><a href="javascript:void(0);" class="left_nav_0"><i
                    class="icon-facebook-sign"></i>菜单一</a></li>
            <li><a href="javascript:void(0);" class="left_nav_0"><i class="glyphicon glyphicon-search"></i>菜单一</a></li>
            <li><a href="javascript:void(0);" class="left_nav_0"><i class="glyphicon glyphicon-tasks"></i>菜单一</a></li>
            <li><a href="javascript:void(0);" class="left_nav_0"><i class="icon-camera-retro"></i>菜单一</a></li>
            <li><a href="javascript:void(0);" class="left_nav_0"><i class="icon-twitter-sign"></i>菜单一</a></li>
            <li>
                <a href="#" class="left_nav_0"><i class="icon-google-plus-sign"></i><span>菜单一</span><i
                        class="pull-right icon-double-angle-right"></i></a>
                <ul class="sub-menu">
                    <li><a href="javascript:void(0);" class="left_nav_1"><i
                            class="icon-double-angle-right"></i>微信参数管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>用户权限管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>硬件设备管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>评价管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>集团管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>品牌管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>区域管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>店铺管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>用户管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>角色管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="left_nav_0"><i class="icon-google-plus-sign"></i><span>菜单一</span><i
                        class="pull-right icon-double-angle-right"></i></a>
                <ul class="sub-menu">
                    <li><a href="javascript:void(0);" class="left_nav_1"><i class="fa fa-circle-o fa-fw"></i>微信参数管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>用户权限管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>硬件设备管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>评价管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>集团管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>品牌管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>区域管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>店铺管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>用户管理</a>
                    </li>
                    <li class="sub-menu-1"><a href="javascript:void(0);" class="left_nav_1"><i
                            class="fa fa-circle-o fa-fw"></i>角色管理</a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="left_nav_0">关于我们</a></li>
            <li style="visibility:hidden"><a href="javascript:void(0);" class="left_nav_0">关于我们</a></li>
        </ul>

    </div>
    <div class="maincontent row">
        <!--我是主要内容 start-->
        <ol class="breadcrumb" id="staticPath">
            <li class="active">Home</li>
            <li class="active">Library</li>
            <li class="active">Data</li>
        </ol>
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>这是一套开源的基于bootstrap的简易框架</h1>
                <p>所用插件和库几乎都属于开源（个别特殊的会做说明），且功能正在不间断更新中</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item active">
                    核心库（现在页面呈现效果必须依赖的库）
                </li>
                <li class="list-group-item">
                    jquery-1.12.4.js（<a href="https://jquery.com/" target="_blank">官网</a>）
                </li>
                <li class="list-group-item">
                    bootstrap3.3.6（<a href="https://getbootstrap.com/" target="_blank">官网</a>）
                </li>
                <li class="list-group-item">
                    font-awesome4.6.3（<a href="http://fontawesome.io/" target="_blank">官网</a>）
                </li>
                <li class="list-group-item">
                    <p>让页面返回顶部时平滑滚动（<a href="sample/scrolltop.html" target="_blank">样例</a>）</p>
                    <p>使用说明：页面需要引用scrolltopcontrol.js</p>
                </li>
                <li class="list-group-item">
                    <span class="badge">2016.4.28</span>
                    <p>让bootstrap的carousel插件支持手势（<a href="sample/carousel.html" target="_blank">样例</a>）（<a
                            href="https://github.com/hammerjs/jquery.hammer.js" target="_blank">jquery.hammer官网</a>）（<a
                            href="http://hammerjs.github.io/" target="_blank">hammer.js官网</a>）</p>
                    <p>
                        使用说明：页面需要引用hammer.min.js、jquery.hammer.js
                    </p>
                    <p>注意：已将carousel的手势绑定事件封装到了default.js中，如果页面已经引用了default.js，就不用再给carousel写手势绑定事件了</p>
                </li>
                <li class="list-group-item">
                    <span class="badge">2016.7.1</span>
                    <p>页面加载进度条（<a href="sample/pace.html" target="_blank">样例</a>）（<a
                            href="http://github.hubspot.com/pace/docs/welcome/" target="_blank">官网</a>）</p>
                    <p>
                        使用说明：1.页面需要引用pace.min.js、dataurl.css <br/>
                        2.官网提供多种样式供选择，只需要下载相应的css文件替换掉原来的css文件就行<br/>
                        3.dataurl.css里面可以调整进度条位置
                    </p>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item active">
                    更新日志
                </li>
                <li class="list-group-item">
                    <span class="badge">Form库&nbsp;2016.4.19</span>
                    <a href="form.html?#form-DateRangePicker">加入bootstrap-DateRangePicker时间范围选择插件</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Message库&nbsp;2016.4.20</span>
                    <a href="message.html?#message-toastr">加入toastr通知插件</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Message库&nbsp;2016.4.20</span>
                    <a href="message.html?#message-sweetalert">加入bootstrap-sweetalert通知插件</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">UI库&nbsp;2016.4.20</span>
                    <a href="ui.html?#ui-metisMenu">加入metisMenu菜单样式特效库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">UI库&nbsp;2016.4.20</span>
                    <a href="ui.html?#ui-vide">加入vide.js把视频作为背景特效库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Form库&nbsp;2016.4.21</span>
                    <a href="form.html?#form-colorpicker">加入bootstrap-colorpicker颜色选择插件</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Animate库&nbsp;2016.4.21</span>
                    <a href="animate.html?#animate-wow">加入WOW特效库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Animate库&nbsp;2016.4.21</span>
                    <a href="animate.html?#animate-hover">加入Hover.css特效库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Animate库&nbsp;2016.4.21</span>
                    <a href="animate.html?#animate-animo">加入animo特效库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">UI库&nbsp;2016.4.22</span>
                    <a href="ui.html?#ui-switch">加入bootstrap-switch开关插件</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Form库&nbsp;2016.4.22</span>
                    <a href="form.html?#form-datepicker">加入bootstrap-datepicker日期选择插件</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Form库&nbsp;2016.4.28</span>
                    <a href="form.html?#form-datetimepicker">加入bootstrap-datetimepicker日期时间选择插件</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Form库&nbsp;2016.4.28</span>
                    <a href="form.html?#form-formhelper">加入bootstrap-formhelper插件集合库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">UI库&nbsp;2016.4.29</span>
                    <a href="ui.html?#ui-masonry">加入masonry流式布局插件&nbsp;<label
                            class="label label-danger">强烈推荐</label></a>
                </li>
                <li class="list-group-item">
                    <span class="badge">UI库&nbsp;2016.5.4</span>
                    <a href="ui.html?#ui-tabdrop">加入bootstrap-tab超出自动折叠插件</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Carousel库&nbsp;2016.9.10</span>
                    <a href="carousel.html?#carousel-fotorama">加入jquery-fotorama图片滚动库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Carousel库&nbsp;2016.9.10</span>
                    <a href="carousel.html?#carousel-owlcarousel2">加入jquery-owlcarousel2图片滚动库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Carousel库&nbsp;2016.9.10</span>
                    <a href="carousel.html?#carousel-owlcarousel">加入jquery-owlcarousel图片滚动库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Carousel库&nbsp;2016.9.10</span>
                    <a href="carousel.html?#carousel-fullpage">加入jquery-fullpage图片滚动库</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">UI库&nbsp;2016.9.10</span>
                    <a href="ui.html?#ui-mmenu">加入jquery-mmenu Demo</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Chart库&nbsp;2016.9.10</span>
                    <a href="chart.html?chart-flot">加入jquery-flot库</a>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item active">
                    代码示例
                </li>
                <li class="list-group-item">
                    <span class="badge">2016.6.24</span>
                    <a href="sample/iframe/parent.html" target="_blank">嵌套响应式iframe</a>
                </li>
            </ul>
        </div>
        <!--我是主要内容 end-->
    </div>
    <a href="#top" id="goTop"><i class="icon-arrow-up"></i></a>
</div>
<!--整体滑动-->
<div id="demo">
    <div class="list-group"></div>
</div>
</body>
<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/pace.min.js" type="text/javascript" charset="utf-8"></script>

<script src="../js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/BootSideMenu.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/scrolltopcontrol.js " type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/Headroom.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jQuery.headroom.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    //隐藏头部
    $("#header").headroom();
    //滚动条
    $('.collapse_customer').mCustomScrollbar({
        setHeight: "100%",
        theme: "minimal-dark"
    });
    //展开，折叠
    $('#demo').BootSideMenu({
        // 'left' or 'right'
        side: "left",
        // animation speed
        duration: 200,
        // restore last menu status on page refresh
        remember: true,
        // auto close
        autoClose: true,
        // push the whole page
        pushBody: false,
        // close on click
        closeOnClick: true,
        // width
        width: "20%"
    });
    //左边菜单栏，展开，折叠
    $('[data-target="collapse_customer"]').click(function () {
        var asideleft = $(".collapse_customer").offset().left;
        if (asideleft == 0) {
            $(".collapse_customer").animate({left: -220});
            $(".all").animate({marginLeft: 0});
        }
        else {
            $(".collapse_customer").animate({left: 0});
            $(".all").animate({marginLeft: 220});
        }
    });
    //平滑置顶
    $(window).resize(function () {
        if ($(window).width() < 768) {
            $(".scollapse_customer").css({left: -220});
            $(".all").css({marginLeft: 0});
        } else {
            $(".collapse_customer").animate({left: 0});
            $(".all").animate({marginLeft: 220});
        }
    })
    $(window).scroll(function () {
        var top = $(window).scrollTop();
        if (top < 60) {
            $('#goTop').hide();
        } else {
            $('#goTop').show();
        }
    });

    //一级菜单
    $(".left_nav_0").on("click", function (e) {
        e.preventDefault();
        $(this).parent("li").parent("ul").find(".active").removeClass("active");
        $(this).parent("li").addClass("active");
        if ($(this).next().length != 0) {
            $(this).next("ul").slideToggle("slow");
        }
        $(".sub-menu").find(".active").removeClass("active");
        var className = $(this).find("i").last().attr("class");
        console.log(className);
        if (className != undefined)
            if (className.indexOf("icon-double-angle-right") > 0)
                var newClassName = className.replace("icon-double-angle-right", "icon-double-angle-down");
            else
                var newClassName = className.replace("icon-double-angle-down", "icon-double-angle-right");
        $(this).find("i").last().removeClass(className).addClass(newClassName);
    });
    //二级菜单
    $(".left_nav_1").on("click", function (e) {
        //移除一级菜单样式
        if ($(this).parents("ul").length > 1) {
            var parentUl = $(this).parents("ul")[1];
            console.log(parentUl);
            $(parentUl).find(".active").removeClass("active");
        }
        //当前列加上样式
        $(this).parent("li").addClass("active");
        //当前列父菜单加上样式
        $(this).parent("li").parent("ul").parent("li").addClass("active");
    });
</script>
</html>