<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ul</title>
</head>
<body>
<div class="sidebar">
    <ul class="nav">
        <li class="active left_nav"><a href="javascript:void(0);">菜单一</a></li>
        <li class="left_nav"><a href="javascript:void(0);">菜单一</a></li>
        <li class="left_nav"><a href="javascript:void(0);">菜单一</a></li>
        <li class="left_nav"><a href="javascript:void(0);">菜单一</a></li>
        <li class="left_nav"><a href="javascript:void(0);">菜单一</a></li>
        <li class="has_sub left_nav">
            <a href="javascript:void(0);"><span>菜单一</span><i class="fa fa-caret-right fa-fw pull-right"></i></a>
            <ul class="sub-menu">
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>微信参数管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>用户权限管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>硬件设备管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>评价管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>集团管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>品牌管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>区域管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>店铺管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>用户管理</a></li>
                <li class="sub-menu-1"><a href="javascript:void(0);"><i class="fa fa-circle-o fa-fw"></i>角色管理</a></li>
            </ul>
        </li>
    </ul>

</div>
</body>
</html>